<!DOCTYPE html>
<html>
	<head>
		<title>NYU mentor</title>
	</head>
	
	<body>
		{% if courses %}
			{% for course in courses %}
			<h1>{{ course.course_model.course_name }}</h1>
			<h2>{{ course.course_model.course_prefix }}</h2>
			<h2>{{ course.course_model.course_number }}</h2>
			<h2>{{ course.course_model.professor }}</h2>
			<h2>{{ course.course_grade}}</h2>
			<h2>{{ course.course_user }}</h2>
			{% endfor %}
		<!-- Remember to add user info here -->
		{% else %}
			<strong>This course does not exist</strong>
		{% endif %}
	</body>
</html>