{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home Page {% endblock %}

{% block content %}

<h1>Welcome</h1>
		{% if user.is_authenticated %}
		<h1> Hello {{ user.username }}! </h1>
		{% endif %}

		{% if courses %}
			<ul>
				{% for course in courses %}
				<li><a href="/frontpage/courses/{{ course.slug }}"> {{ course.coursenumber }}</a> {{ course.coursename }}
					<a href="/frontpage/professors/{{ course.prof_slug }}"> {{ course.professor }} </a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong> There are no course listed. </strong>
		{% endif %}
{% endblock %}
